<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton  (click)="onclick()"> Day
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton (click)="open(content)"> Tasks
  </label>
  
</div>
<hr>
<div class="day"><div >
  <tr *ngFor="let d of days;">
    <td><div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton>{{d}}
      </label>
    </div></td>
  </tr>
</div>
</div>

<div>
<div class="taskrender_space" style="background-color: lightsteelblue;">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Enter Task  Name</p>
      <input type="text" value="taskname" id="titlename">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addtask()">Save</button>
    </div>
  </ng-template>
  
  <div class="taskdiv">
  <div >
    <tr *ngFor="let t of tasks;">
      <td><div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton (click)="onclickcontent()">{{t}}
        </label>
      </div></td>
    </tr>
  </div>
  </div>

  
<div class="content_div" style="background-color: moccasin;">
  <tr *ngFor="let c of contents">
    <td>{{c}}</td>
  </tr>
</div>



    
    



  